public Builder setOrClear{{javaMethodName}}({{javaFieldType}} value) {
   if (value != null) {
     return set{{javaMethodName}}(value);
   } else {
     clear{{javaMethodName}}();
   }
   return this;
}